.homeContainer{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.homeTitle{
  width: 1024px;
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .homeContainer{
    margin-top: 200px;
    padding:0px 20px;
  }

  
  .homeTitle{
    max-width: 100%;
  }
}


